# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Firebase
serviceAccountKey.json

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/
mobile/android/.gradle/
mobile/android/local.properties

# Antigravity test outputs
antigravity/test_outputs/*.json
antigravity/fix_json.py

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
